extract_pdf_2.py
extract_pdf_3.py
extract_text_pdf.py
make_donation.py
config.py
connect_db_2.py
connect_db_3.py
anki_sqlite_generic.py
anki_sqlite_test.py
anki_zip.py
test_script.py
generate_cards_ec2.py
sample-user-cognito.txt
__pycache__/
node-modules/

#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/backend/amplify-meta.json
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end
